body{
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/Fondo_instrucciones.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto';
    scroll-behavior: smooth;
    padding-bottom: 50px;
}

html{
    scroll-behavior: smooth; /*Permite hacer el scroll mas suave cuando aprete el btn de volver al principio*/
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/********************Parte del titulo********************/
.container-opciones{
    position: sticky;
    top: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255,0));
    border-radius: 15px;
    border: 2px solid white;
    margin: 20px;
    width: 50%;
    backdrop-filter: blur(12px);
    z-index: 1;
}

.cajita_emoji{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(160, 21, 97);
    border-radius: 15%;
    margin: 10px;
}

.img-emoji{
    width: 120px;
    height: 120px;
}

.cont_titulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
}

.titulo{
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin: 0;
    line-height:1;
}

h3{
    font-size:14px;
    font-weight:700;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}

/*Es la caja de los botones con las opciones*/

.caja_botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 12px 2px;
    width: 50%;
    margin-right: 20px;
    border-radius: 60px;
    background: rgb(160, 21, 97);
    border: 2px solid rgb(255, 253, 254);
}

.caja-opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 60px;
}

a{
    cursor: pointer;
}

/*Son los botones de volver al inicio y de subir al inicio de página*/

.img-casa{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M1 11C.08 11-.352 9.863.336 9.253l9-8a1 1 0 0 1 1.328 0l9 8C20.352 9.863 19.92 11 19 11h-1v7a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-7zm6 6v-5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v5h3v-7a1 1 0 0 1 .512-.873L10 3.337l-6.512 5.79A1 1 0 0 1 4 10v7zm2 0v-4h2v4z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.img-flecha{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='20' d='M12 21l0 -17.5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.3s' values='20;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M12 3l7 7M12 3l-7 7'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.3s' dur='0.2s' to='0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.img-casa,
.img-flecha{
    width: 35px;
    height: 35px;
}

.img-casa:hover,
.img-flecha:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
}
/*-------------------------------------------------------------*/
/*****************************Es cada una de las instrucciones*****************************/
.cont_instrucciones{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 15px;
    width: min(1300px, 95%);
}

.caja_instruccion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 20%;
    color: aliceblue;
    background:
    linear-gradient(
        180deg,
        #9b1d7d,
        #6d114c
    ) ;
    padding:25px;
    border-radius: 15px;
    border:2px solid #ffb8ef;
    transition:.35s;
}

.caja_instruccion:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 30px rgba(0,0,0,.35);
}

.caja_imagen_instruccion{
    background:#FFF4F6;
    border-radius:24px;
    padding:30px;
    display:flex;
    flex-direction:column;
    gap:17px;
    background:linear-gradient(145deg,#ff52c4,#8b5cf6);
    box-shadow:
        0 0 20px rgba(255,90,200,.35),
        inset 0 0 15px rgba(255,255,255,.15);
    border:2px solid #ffb8ef;
}

.titulo_instruccion{
    font-size: 22px
}

.img-emoji-instruccion{
    width: 120px;
    height: auto;
}

.emoji_uno {
    width: 200px;
    height: auto;
}

/*-------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------*/


/*Animacion aplicada para el scroll*/
@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

/***********************MEDIA QUERYS***********************/
/*****************CELULARES*****************/
@media screen and (max-width: 480px) {  
    

    /**********EL HEADER**********/

    .container-opciones{
        width: 90%;
        position: sticky;
        top: 15px;
        margin-bottom: 30px;
    }

    .img-emoji{
        width: 60px;
        height: 60px;
    }

    .titulo{
        color: rgb(255, 255, 255);
        font-weight: 900;
        margin: 0;
        line-height:1;
        font-size: 18px;
    }

    h3{
        font-size: 10px;
        font-weight:700;
        margin-top: 7px;
        margin-bottom: 0;
        color: white;
    }

    .caja_botones{
        margin:0;
        margin-right: 10px;
    }

    .img-casa,
    .img-flecha{
        width: 25px;
        height: 25px;
    }

    /**********INSTRUCCIONES**********/
    .cont_instrucciones{
        grid-template-columns:1fr;
        width:90%;
        gap:20px;
    }
    

}