body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-image: url(../imagenes/fondo_inicio.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 50px 30px;
    align-items: center;
    background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(8px);
    border: 2px solid white;
    box-shadow: 0 8px 32px 0 rgba(0,0,0, 0.37);
    border-radius: 10px;
    height: 450px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*Imagen principal de los chanchos*/
.img-chanchos{
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 12px #CDA357;
    border: 1px solid #573d0c;
}

h1{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 4px;
    background: linear-gradient(
        to bottom,
        #fff6b3 0%,
        #ffe07a 20%,
        #ffc93c 45%,
        #d89b00 70%,
        #fff3b0 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        0 2px 2px rgba(0,0,0,.45),
        0 0 8px rgba(255,208,80,.35);
}

/******Botones******/

.borde-boton{
    position: relative;
    width: 225px;
    height: 300px;
    margin: 5px;
    background: #f5f4f3;
    clip-path: polygon(25% 0%, 75% 0%, 90% 50%, 75% 90%, 25% 90%, 10% 50%);
    display: flex;
    justify-content: center;  
    align-items: center;
    z-index: 1;
}


.boton::after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
    border-bottom:80px solid #4C1D95;
    border-right:80px solid transparent;
    transition: 0.4s ease-in-out all;
}
.boton span{
    position: relative;
    z-index: 3;
}

.boton:hover::after{
    left: 0;
}

.boton{
    position: relative;
    width: 100%;
    height: 20%;
    cursor: pointer;
    font-size: 17px;
    width: 30vh;
    padding: 15px;
    margin: 16px 0px;
    color: #f5f4f3;
    background: linear-gradient(180deg, #ff4fbf, #ff0f8a);
    box-shadow: 0 8px 32px 0 rgba(0,0,0, 0.37);
    text-decoration: none;
    clip-path: polygon(25% 0%, 75% 0%, 90% 50%, 75% 90%, 25% 90%, 10% 50%);
    transition: ease 0.7s;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/******Redes sociales******/

.redes img{
    margin-top: 12px;
    transition: ease 0.4s;
}

.redes img:first-child:hover{
    transform: translateY(-6px);
}

p{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    margin: 3px;
    font-size: 12px;
    user-select: none;
}

/*************Modal*************/

dialog{
    inset: 0; /*Esto con el margin me permite centrar la modal*/
    margin: auto;
    border: none;
    border-radius: 10px;
    width: 550px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
    border: 2px solid white;
    background: linear-gradient(
    180deg,
    #ff3fbf,
    #d4009e
    );
}

dialog::backdrop{   /*Permite cambiar el fonde de atras del Modal*/
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px); /*Fondo borroso*/
}

dialog[open]{
    position: fixed;
    
}

dialog:hover{
    box-shadow: 1px 1px 7px rgb(226, 44, 196);
}

.container-contenido-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-emoji{
    width: 70%;
    height: auto;
}

h2{
    text-align: center;
    color: white;
    margin-bottom: -10px;
}

h4{
    text-align: center;
    color: white;
}

/*Botones del modal*/
.btn-modal{
    color: black;
    color: aliceblue;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Son los botones de la ventana modal*/
.botones-modal{
    text-decoration: none;
    color: rgb(245, 240, 240);
    font-weight: 700;
    padding: 8px;
    margin: 6px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: ease 0.5s;
    width: 150px;
    min-width: 70px;
    position: relative;
}

.botones-modal:first-child{
    background:#16b84e;
    border: 2px solid #8df5b2;
}

.botones-modal:nth-child(2){
    background: #dc2626;
    border: 2px solid #fecaca;
}

.botones-modal:nth-child(2):hover{
    background-color: rgb(184, 60, 173);
}

form input{
    width: 100%;
    background: rgb(255, 254, 254);
    margin: 10px;
    margin-bottom: 8px;
    padding: 15px;
    border: none;
    border-radius: 6px;
    outline: 3px solid #940353;
    text-align: center;
    transition: .3s;
}

.container-cant-jugadores{
    display: flex;
    justify-content: center;
}

/*Para no mostrar las flechitas a la hora de poner la cantidad de jugadores*/
form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome y Safari */
    margin: 0; /* Quitar margen */
}

/*Mensaje de error cuando se ingresa mal la cantidad de jugadores en la Modal*/
.mensaje-error{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 25px;
    font-size: 14px;
    margin: 4px;
}

@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/***********************MEDIA QUERYS***********************/

/*****************CELULARES*****************/
@media screen and (max-width: 480px) {  
    dialog{
        border-radius: 10px;
        width: 80%;
    }

    .img-emoji{
        width: 80%;
    }
}

/*Media Query para ajustarlo celular*/
@media (max-width:600px){
    .redes img{
        transition: none;
    }

    .redes img:first-child:hover{
        transform: none;
    }

    p{
        left: 27%;
    }

    .boton{
        position: absolute;
        width: 80%;
        height: 17%;
    }

}




