*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{   
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagenes/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}


/********************Parte del titulo********************/
.container-opciones{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255,0));
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 25px;
    width: 70%;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.cajita_emoji{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(160, 21, 97);
    border-radius: 15%;
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    margin: 10px;
}

.img-emoji{
    width: 70px;
    height: 70px;
}

.cont_titulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
}

.titulo{
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin: 0;
    font-size: 30px;
    line-height:1;
}

h3{
    font-size: 12px;
    font-weight:700;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}

/*Es la caja de los botones con las opciones*/
.caja_botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 12px 2px;
    width: 50%;
    margin-right: 20px;
    border-radius: 60px;
    background: rgb(160, 21, 97);
    border: 2px solid rgb(255, 253, 254);
    
}

.caja-opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 60px;
}

a{
    cursor: pointer;
}


.img-casa{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M1 11C.08 11-.352 9.863.336 9.253l9-8a1 1 0 0 1 1.328 0l9 8C20.352 9.863 19.92 11 19 11h-1v7a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-7zm6 6v-5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v5h3v-7a1 1 0 0 1 .512-.873L10 3.337l-6.512 5.79A1 1 0 0 1 4 10v7zm2 0v-4h2v4z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.img_reloj{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m4.2 14.2L11 13V7h1.5v5.2l4.5 2.7z'/%3E%3C/svg%3E");
}

.img-reinicio{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='2' d='M1.75 16.002C3.353 20.098 7.338 23 12 23c6.075 0 11-4.925 11-11m-.75-4.002C20.649 3.901 16.663 1 12 1C5.925 1 1 5.925 1 12m8 4H1v8M23 0v8h-8'/%3E%3C/svg%3E");
}

.img_add_jugador{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23fff' d='M10.5 20a1.5 1.5 0 0 0 3 0v-6.5H20a1.5 1.5 0 0 0 0-3h-6.5V4a1.5 1.5 0 0 0-3 0v6.5H4a1.5 1.5 0 0 0 0 3h6.5z'/%3E%3C/g%3E%3C/svg%3E");
}

.img-casa,
.img_reloj,
.img-reinicio,
.img_add_jugador{
    width: 28px;
    height: 28px;
}

.img-casa:hover,
.img_reloj:hover,
.img-reinicio:hover,
.img_add_jugador:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
}

/*************************************************************/

/**************ELEMENTOS DEL JUEGO**************/


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 80px;
    width: 100%;
    margin: auto;
}

.marcador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  
    background: linear-gradient(to right, #b91d73, #f953c6); 
    width: 155px;
    min-height: 60vh;
    position: relative;
    padding: 15px;
    padding-bottom: 30px;
    outline: 3px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    transition: ease 0.5s;
}

.marcador:hover{
    box-shadow: 4px 4px 18px rgb(219, 20, 143);
}

/*Estilo del marcador cuando el jugador esté eliminado*/
.marcador.eliminado {
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  
    background: linear-gradient(to right, #93291E, #ED213A); 
    outline: 2px solid white;
    color: white; 
    box-shadow: 0 0 10px rgba(143, 25, 16, 0.7); 
    transition: background 0.5s, color 0.3s, box-shadow 0.5s ease;
}

.marcador.eliminado:hover{
    box-shadow: 6px 6px 20px rgb(211, 15, 15);
}


/*Es el input donde se ingresa el nombre del jugador en el marcador*/
.ingresar_nombre_jugador {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    outline: none;
    border: none;
    box-shadow: none;
    top: 0;
    left: 0;
    border: none;
    background: none;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: white;
}


.ingresar_nombre_jugador::placeholder{
    display: flex;
    text-align: center;
    align-items: center;
    color: White;
    font-weight: 600;
    font-size: 16px;
}


/**********Container de los botones de inc-dec**********/
.container-botones {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1px; /* Alineación a la derecha */
    top: 40%; /* Centrado vertical */
    transform: translate(50%, 15%);

}

.botones-inc-dec{
    border: 2px solid white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    transition: ease 0.4s;
}

.botones-inc-dec:hover{
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transform: scale(1.2);
}


.boton-incremento{
    background: rgb(9, 202, 9);
    color: white;
    font-size: 30px;
}

.boton-decremento{
    background-color: red;
    font-size: 40px;
    color: white;
}

/*Ocurre cuando el marcador queda en rojo. Los botones desaparecen*/
.boton-incremento.btn_oculto{ 
   display: none;
}

.boton-decremento.btn_oculto{
   display: none;
}
/*Hover de los botones inc-dec*/
.boton-incremento:hover{
    background: rgb(10, 163, 10);
}
.boton-decremento:hover{
    background-color: rgb(212, 23, 23);
}

/**********************/
.boton_y_palabra {
    display: flex;
    flex-direction: column; /* Apilar la palabra encima de los botones */
    align-items: center; /* Centrar la palabra horizontalmente */
    height: 100%;
    justify-content: center; /* Centrar verticalmente el contenido */
    margin-bottom: 12px;
    padding: 20px;
}

/*Casillero donde esta la palabra CHANCHO*/
.casillero-palabra {
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-top: 14px;
    border: none;
    pointer-events: none;
    text-align: center;
    outline: 3px solid #7c0d4a;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    color: transparent;
    transition: all 0.3s ease;
}

.casillero-palabra.activo {
    outline: 2px solid white;
    background-color: #b91d73;
    color: white;
    box-shadow: 0 0 5px rgb(219, 20, 143);
}

/*Casillero de la palabra CHANCHO cuando esté completa*/
.marcador.eliminado .casillero-palabra{
    background: rgb(201, 14, 14);
    outline-color: white;
}

/*Boton de volver*/
.boton-volver{
    display: none;
}

.mostrar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    border: none;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    color: white;
    outline: 2px solid white;
    background: rgb(219, 20, 143);
    cursor: pointer;
    transition: all 0.3s ease;
}

.mostrar:hover{
    transform: scale(1.1);
}

.flecha_volver{ 
    width: 25px;
    height: 25px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='m14 16l4-4m0 0l-4-4m4 4H6'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}


/********************************MODALES********************************/

/*Modales de los botones de Reiniciar y Volver*/
dialog{
    margin: auto;
    border: white 2px solid;
    border-radius: 10px;
    width: 90%;
    max-width: 650px;
    max-height: 80vh;
    padding: 25px;
    text-align: center;
    touch-action: none; /* Evita el desplazamiento táctil en el celu*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: animacion_dialog 0.3s ease-in-out;
}

dialog::backdrop{   /*Permite cambiar el fonde de atras del Modal*/
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px); /*Fondo borroso*/
}

dialog[open]{
    position: fixed;   
}

/*MODAL VOLVER AL INICIO*/
.imagen_chanchito_volver_inicio{
    width: 50%;
    height: auto;
}

#volverAlInicio{
    background: linear-gradient(180deg, #ff2ebd, #d100a7);
}

/*MODAL PARA REINICIAR LA PARTIDA*/

.imagen_chanchito_reiniciar{
    width: 40%;
    height: auto;
}

#modal_reiniciar{
    background: linear-gradient(180deg,#7f19d8,#5711b5);
}

/*MODAL DE JUGADOR GANADOR*/
#modal_jugador_ganador{
    background: linear-gradient(180deg,#0b36ff,#001d8d);
}


.imagen_chanchito_campeon{
    width: 40%;
    height: auto;
}



/*****ANIMACION MODAL*****/
@keyframes animacion_dialog{
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rebote{

    0%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    35%{
        transform: translateY(-22px);
        animation-timing-function: ease-in;
    }

    100%{
        transform: translateY(0);
    }
}

/*ANIMACION DE REBOTE USADA EN LOS EMOJIS DE LOS MODALES*/
.imagen_chanchito_campeon{
    animation: rebote 1.7s  infinite;
}


/*****CONTENIDO DEL MODAL*****/
.container-contenido-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative; 
}

.container-contenido-modal h2{
    font-size: 25px;
}

.container-contenido-modal h4{
    font-size: 15px;
}

h2,h4{
    color: aliceblue;
    font-weight: 500;
}

#titulo_ganador{
    font-size: 25px;
    color: white;
}

/*BOTONES DEL MODAL*/

.btn-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
    flex-wrap: wrap;
}

/* Estilo base para TODOS los botones */
.btn-modal button,
.btn-modal a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    height: 52px;
    padding: 0 20px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease;
}

/* Elimina el outline */
button:focus,
button:active,
a:focus,
a:active{
    outline: none;
}

/*================ BOTONES AZULES ================*/

#btn_volver,
#reiniciar,
#btn_volver_al_inicio{
    background: linear-gradient(180deg,#2563ff,#0038d6);
}

#btn_volver:hover,
#reiniciar:hover,
#btn_volver_al_inicio:hover{
    background: linear-gradient(180deg,#4b7bff,#0b2db6);
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0,0,0,.25);
}

/*================ BOTONES ROJOS ================*/

#cerrarModalReiniciar,
#cerrarModalVolverInicio{

    background: linear-gradient(180deg,#ff4343,#d10000);
}

#cerrarModalReiniciar:hover,
#cerrarModalVolverInicio:hover{
    background: linear-gradient(180deg,#ff6d6d,#b60000);
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0,0,0,.25);
}

/*================ BOTÓN NARANJA ================*/

#btn_volver_a_jugar{
    background: linear-gradient(180deg,#ffb31a,#ff8a00);
}

#btn_volver_a_jugar:hover{
    background: linear-gradient(180deg,#ffc54d,#e57700);
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0,0,0,.25);
}

.btn-modal button:active,
.btn-modal a:active{
    transform: scale(.96);
}


/***********************MEDIA QUERYS***********************/

/*****************CELULARES*****************/
@media screen and (max-width: 480px) {  
    
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        width: 100%;
        margin: auto;
    }


    /**********EL HEADER**********/

    .container-opciones{
        width: 95%;
        position: sticky;
        top: 15px;
        margin-bottom: 50px;
    }

    .img-emoji{
        width: 45px;
        height: 45px;
    }

    .titulo{
        color: rgb(255, 255, 255);
        font-weight: 900;
        margin: 0;
        line-height:1;
        font-size: 18px;
    }

    h3{
        font-size: 8px;
        font-weight:700;
        margin-top: 7px;
        margin-bottom: 0;
        color: white;
    }

    .caja_botones{
        margin:0;
        margin-right: 10px;
    }

    .img-casa,
    .img_reloj,
    .img-reinicio,
    .img_add_jugador{
        width: 20px;
        height: 20px;
    }

    /**********MARCADORES**********/
    .marcador {
        width: calc(50% - 50px); /* Dos por fila con espacio entre ellos */
        min-height: 20vh; /* Opcional, si querés que se vea más compacto en celular */
    }

    .casillero-palabra {
        width: 35px;
        height: 35px;
    }

    .botones-inc-dec{
        width: 50px;
        height: 50px;
    }

    /**********MODALES**********/
    dialog{
        width: 90%;
        height: 70vh;
    }

    .container-contenido-modal h2{
        font-size: 22px;
        font-weight: 800;
    }
    
    h4{
        font-size: 13px;
    }

    .container-contenido-modal{
        gap: 22px;
        padding: 12px 0;
    }

    .btn-modal{
        flex-direction: column;
        width: 100%;
    }

    .botones-modal{
        width: 100%;
        
    }

    /*MODAL VOLVER AL INICIO*/
    .imagen_chanchito_volver_inicio{
        width: 80%
    }
    /*MODAL PARA REINICIAR LA PARTIDA*/

    .imagen_chanchito_reiniciar{
        width: 70%;
    }

    .imagen_chanchito_campeon{
        width: 80%;
    }

    #titulo_ganador{
        font-size: 21px;
        font-weight: 800;
    }

}

/*****************TABLETS*****************/
@media screen and (max-width: 800px) {
    
    .container-opciones{
        width: 95%;
    }
    
    .img-emoji{
        width: 55px;
        height: 55px;
    }

    .titulo{
        font-size: 18px;
    }

    h3{
        font-size: 10px;
    }

    .img-casa,
    .img_reloj,
    .img-reinicio,
    .img_add_jugador{
        width: 20px;
        height: 20px;
    }
} 